@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}

/* Ensure smooth scrolling behavior */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}
